<footer>
    <div class="f-item-con">
        <div class="app-info">
            <div class="app-name">
                Gold Star Maintenance
            </div>
            <p>
                Quality construction and maintenance tailored to your needs.
                <strong class="text-golden">Reliable</strong>
                ,
                <strong class="text-golden">efficient</strong>
                , and committed to
                <strong class="text-golden">excellence</strong>
                .
            </p>
            <div id="footer-contact-info">
                <p>
                    <strong class="text-golden">Phone</strong>
                    :+1 (929) 340-7346
                </p>
                <p>
                    <strong class="text-golden">Address</strong>
                    : 12 Rockne St, Staten Island, NY 10314
                </p>
            </div>
        </div>
        <div class="useful-links">
            <div class="footer-title">Social Media</div>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Linkedin</li>
            </ul>
            <div class="help-sec">
                <div class="footer-title">Help</div>
                <ul>
                    <li>Help Me</li>
                    <li>Feedback</li>
                    <li>Report a Issue / Bug</li>
                </ul>
            </div>
        </div>
        <div class="g-i-t">
            <div class="footer-title">Get in Touch</div>
            <div class="space-y-2" id="footerForm">
                <input
                    type="text"
                    name="g-name"
                    class="g-inp"
                    id="footer-name"
                    placeholder="Name"
                >
                <input
                    type="email"
                    name="g-email"
                    class="g-inp"
                    id="footer-email"
                    placeholder="Email"
                >
                <textarea
                    type="text"
                    name="g-msg"
                    class="g-inp h-40 resize-none"
                    id="footer-message"
                    placeholder="Message..."
                ></textarea>
                <button type="submit" class="f-btn" id="sendMessageFromFooter">Submit</button>
            </div>
        </div>
    </div>
</footer>
